.ui.section.import
  %table.ui.very.basic.celled.table.unstackable
    %tbody
      %h3.ui.header.centered
        = @title
      - @tasks.each do |task|
        %tr
          %td.centered
            - if task.status == 'completed'
              %span
                %i.ui.check.green.icon
                = task.end.strftime('%m/%d/%Y')
            -else
              %form{action: "/tasks/done/#{task.id}", method: 'post'}
                %input{type: 'hidden', value: @project, name: 'project' }
                %input.hidden{type: 'submit'}
                %a.submit
                  %i.check.circle.outline.green.large.icon

          %td{class: @priorities[task.priority].to_s.downcase}
            = task.description
          - if @project == nil
            %td.centered
              = task.project
          %td.centered.mobile-hidden
            - date = task.due
            - if date
              = date.strftime('%m/%d/%Y')
            - else
              No Due Date
          %td.centered
            .ui.dropdown
              %i.cog.large.blue.icon
              .menu
                - if task.status == 'completed'
                  %form.item{action: "/retask", method: 'post'}
                    %input.hidden{name: 'id', type: 'hidden', value: task.uuid}
                    %input.hidden{type: 'submit'}
                      %span.submit
                        %i.redo.blue.icon
                        Re-Task
                %a.item{href: "tasks/edit/#{task.id}"}
                  %i.pencil.blue.icon
                  Edit Task
                %form.item{action: "/tasks/remove/#{task.id}", method: 'post', 'onSubmit' => "return confirm('Are you sure you wish to delete?');"}
                  %input.hidden{type: 'submit'}
                  %span.submit
                    %i.trash.blue.icon
                    Remove Task




