.ui.section.import
  %table.ui.very.basic.celled.table
    %tbody
      %h3.ui.header.centered
        Recent Tasks
      - @tasks.each do |task|
        %tr
          %td
            - if task.status == 'completed'
              %form{href: "/status?id=#{ task.id }&status=pending", method: 'post'}
                %input{type: 'submit', value: task.id}
                  Done
            -else
              %form{href: "/done?id=#{ task.id }", method: 'post'}
                %input{type: 'submit', value: task.id}
                  Done
          %td
            = task.description
          %td
            = task.project
          %td.centered
            = task.urgency
          %td.centered
            - date = task.due
            = date.strftime('%m/%d/%Y') if date
            -# %i.cog.large.blue.icon
          %td.centered
            = task.status


