.ui.section.import
  %table.ui.very.basic.celled.table
    %tbody
      %h3.ui.header.centered
        = @title
      - @tasks.each do |task|
        %tr
          %td.centered
            - if task.status == 'completed'
              %form{href: "/status?id=#{ task.id }&status=pending", method: 'post'}
                - puts task.id
                %input{type: 'submit', value: task.id}
                  Done
            -else
              %form{action: "/done", method: 'post'}
                %input{type: 'hidden', value: task.id, name: 'id' }
                %input{type: 'hidden', value: @project, name: 'project' }
                %input.ui.primary.button{type: 'submit', value: 'Done'}
          %td
            = task.description
          - if @project == nil
            %td
              = task.project
          %td.centered
            = @priorities[task.priority]
          %td.centered
            - date = task.due
            - if date
              = date.strftime('%m/%d/%Y')
            - else
              No Due Date




