!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/semantic.min.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/styles.css'}
    %script{:crossorigin => "anonymous", :integrity => "sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
    %script{:type => 'text/javascript', :src => 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/dropdown.min.js'}
    %script{:type => 'text/javascript', :src => 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/transition.min.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/custom.js'}

    %title
      = #display_title
    %meta{:content => 'display_description', :name => "description"}
    = #stylesheet_link_tag 'application', media: 'all'
    = #javascript_include_tag 'application'
    = #csrf_meta_tags
  %body
    = partial('layouts/navigation', template_engine: :haml)
    = #render 'layouts/navigation'
    %span.flash-messages
      = #render 'layouts/messages' if messages?
    .ui.container
      = partial('layouts/_heading', locals: { title: 'Task Helper' }, template_engine: :haml)
      = yield
